<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Profile</title>

    <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/static.css' %}">
</head>
<body>
    <div class="alert alert-info" role="alert">
    <h1>Profile</h1>
    </div>
    <div class="alert alert-secondary" role="alert">
    <h2>Games Cadastrados</h2>
    </div>
    <br>
    <div class="row">
       {% for game in games %}
    <div class="column">
    <div class="card">
        <a href="{{ game.game_img }}"> <img class="card-img-top" src="{{ game.game_img.url }}">
        </a>
    <div class="container">
        {{ game.name_game }}
        <a href="{% url 'update_game' game.id %}">Veja Mais</a>
    </div>
    </div>
    </div>
        {% endfor %}
</div>
    <a href="{% url 'register_game' %}"><button type="button" class="btn btn-outline-secondary">Cadastrar/Atualizar Game</button></a>


</body>
</html>
